.cardBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.card {
  width: 100%;
  min-height: 100%;
}

@media (min-width: 768px) {
  .card {
    width: 50%;
  }

  .cardBar {
    flex-direction: row;
  }
}

.textArea {
  width: 100%;
  height: 300px;
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: #20242b;
}

.confirmationText {
  color: red;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.confirmationText.visible {
  opacity: 1;
}
